
<section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="profile">
              <div class="row">

                <div class="pull-left">
                  <h5 class="page-header"><%= @user.name %></h5>
                  <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-default" %>
                </div>

                <div class="clearfix"></div>

              </div>
              <div class="row">
                <div class="col-md-4">
                  <%= image_tag(@user.avatar.url(:small), alt: @user.name, class: "img-thumbnail") %>
                </div>
                <div class="col-md-8">
                  <ul>
                    <li><strong>Name: </strong><%= @user.name %></li>
                    <li><strong>Email: </strong><%= @user.email %></li>
                    <li><strong>About</strong></li>
                    <li><%= @user.about %></li>
                  </ul>
                </div>
              </div><br><br>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h5 class="panel-title">Profile Wall</h5>
                    </div>
                    <div class="panel-body">
                      <% @posts.each do |p| %>
                        <div class="panel panel-default post">
                          <div class="panel-body">
                            <div class="text-left">
                                <%= p.content %>
                            </div>

                            <div class="text-left postedat">
                              <%= time_ago_in_words(p.updated_at) %>
                            </div>
                            <p class="text-left post-actions">
                              <%= link_to "Edit", edit_post_path(p.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal'} %>
                              <%= link_to "Delete", post_path(p.id), method: :delete, data: {confirm: t('messages.confirm')} %>
                            </p>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <%= render partial: "shared/following" %>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default friends">
              <div class="panel-heading">
                <h5 class="panel-title">Followers</h5>
              </div>

              <div class="panel-body">
                <% unless @followers.blank? %>
                <ul>
                  <% @followers.each do |fow| %>
                    <li>
                      <%= link_to user_path(fow.current), class: "thumbnail" do %>
                        <%= image_tag(fow.current.avatar.url(:small)) %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
                <div class="clearfix"></div>
                <%= link_to "View All", showfollowers_path, class: "btn btn-primary" %>
                <% end %>
              </div>

            </div>
          </div>

        </div>
      </div>
    </section>

<div id="edit-
" class="modal fade" role="dialog"></div>
