<section>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="members">
          <h4 class="page-header">Showing members</h4>
            <div class="row member-row">
              <% if @users.blank? %>
                <div class="text-center">
                  Sorry, no matches found for <b><%= cookies[:search_t] %></b>
                </div>
            </div>
            <% else %>
              <% @users.each do |u| %>
                <div class="row member-row">
                  <div class="col-md-3">
                      <%= image_tag(u.avatar.url(:medium), alt: u.name, class: "img-thumbnail") %>
                      <div class="text-center">
                        <%= u.name %>
                      </div>
                  </div>
                  <div class="col-md-3"></div>

                  <div class="col-md-3">
                      <% if u.id != current_user.id %>
                        <p>
                          <% if current_user.following.exists?(:follower_id => u.id) %>
                            <%= link_to unfollow_path(current_user.following.where(:follower_id => u.id).ids), class: "btn btn-danger btn-block" do %>
                              <i class="fa fa-users"></i>
                               <span>Unfollow</span>
                            <% end %>
                          <% else %>
                            <%= link_to follow_path(u.id), class: "btn btn-primary btn-block" do %>
                              <i class="fa fa-users"></i>
                               <span>Follow</span>
                            <% end %>
                          <% end %>
                        </p>
                      <% end %>
                  </div>

                  <div class="col-md-3">
                      <% if u.id == current_user.id %>
                        <p>
                          <%= link_to "My Profile", users_index_path, class: "btn btn-primary btn-block"%>
                        </p>
                      <% else %>
                        <p>
                          <%= link_to user_path(u), class: "btn btn-primary btn-block" do %>
                            <i class="fa fa-edit"></i>
                             <span>View Profile</span>
                          <% end %>
                        </p>
                      <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
