<section>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="members">
          <h5 class="page-header">Who is following me?</h5>
            <div class="row member-row">
              <% if @followers.blank? %>
                <div class="text-center">
                  Sorry, you don't follow anyone.
                </div>
            </div>
            <% else %>
              <% @followers.each do |u| %>
                <div class="row member-row">
                  <div class="col-md-3">
                      <%= image_tag(u.current.avatar.url(:medium), alt: u.current.name, class: "img-thumbnail") %>
                      <div class="text-center">
                        <%= u.current.name %>
                      </div>
                  </div>
                  <div class="col-md-3"></div>

                  <div class="col-md-3">
                  </div>

                  <div class="col-md-3">
                      <p>
                        <%= link_to user_path(u.current), class: "btn btn-primary btn-block" do %>
                          <i class="fa fa-edit"></i>
                           <span>View Profile</span>
                        <% end %>
                      </p>
                  </div>
                </div>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
