<header>
<div class="container">
          <% if user_signed_in? %>
          <div class="pull-right">Welcome!, <%= current_user.name %></div><br>
    <div class="dropdown">
<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
  Options
</button>
       <div class="dropdown-menu">
<li class="dropdown">
        <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "My Profile", users_index_path %></li>
              <li><%= link_to "Following", showfollowing_path %></li>
              <li><%= link_to "Followers", showfollowers_path %></li>
            <li> <%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
            <% else %>
            </li></div>
              <%= link_to "Sign up", new_user_registration_path %>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-inline"}) do |f| %>
                  <div class="form-group">
                    <%= f.label :email, class: "sr-only" %>
                    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter Email" %>
                  </div>

                  <div class="form-group">
                      <%= f.label :password, class: "sr-only" %>
                      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
                    <%= f.submit "Sign in", class: "btn btn-default" %>
                    </div>
                  <br>
          <% end %>
            <% end %>
              </div>
              <% if user_signed_in? %>
              <div style="margin-right:-30px;">

                <%= form_tag search_path, method: :get, class: "navbar-form", role: "search" do %>
                  <div class="input-group">
                    <%= text_field_tag(:q, params[:q], { class:"form-control", placeholder: "Search..for frds"}) %>

                      <%= button_tag(:name => nil, type: "submit", class: "btn btn-default") do %>
                         <i class="glyphicon glyphicon-search"></i>
                    <% end %>

                  </div>
                <% end %>

              <% end %>
        </div><!--/.nav-collapse -->
      </div>
    </div>
 </header>
