
<% if user_signed_in? %>
  <section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Wall</h3>
          </div>
          <div class="panel-body">
            <%= form_tag posts_path do%>
              <div class="form-group">
                <%= text_area :post, :content, class:"form-control", rows: 3, placeholder:"Write on the wall" %>
                <%= hidden_field :post, :user_id, value: current_user.id %>
              </div>
              <%= submit_tag "Submit", class: "btn btn-primary" %>

            <% end %>
          </div>
        </div>
            <br>
        <div class="panel panel-default post">
          <div class="panel-body">
             <% if @posts.blank? %>
              <div class="row">
                <p>You need to follow someone to see posts.</p>
              </div>
             <% else %>
               <% @posts.each do |p| %>
               <div class="row">
                 <div class="col-sm-2">
                    <%= link_to user_path(p.user), class: "post-avatar thumbnail" do %>
                      <%= image_tag(p.user.avatar.url(:thumb), alt: @user.name) %>
                    <% end %>
                    <div class="text-center"><%= p.user.name %></div>
                   <div class="likes text-center">
                     <%= pluralize(p.get_likes.size,"Like") %>
                   </div>
                 </div>
                 <div class="col-sm-10">
                   <div class="bubble">
                     <div class="pointer">
                       <p><%= p.content %></p>

                       <p class="properties">
                        <%= time_ago_in_words(p.updated_at) %>
                       </p>

                     </div>
                     <div class="pointer-border"></div>
                   </div>
                   <p class="post-actions">
                    <%= link_to "Like", like_path(p), method: :put %>
                   </p>
                   <br/>
                   <p style>Comments</p>

                   <% if p.comments.blank? %>
                      <%= render partial: "shared/comment", locals: {p: p} %>
                   <% end %>

                   <% p.comments.order(updated_at: :desc).each do |c| %>
                   <div class="comments">
                     <div class="comment">
                      <%= link_to '', class: "comment-avatar pull-left" do %>
                        <%= image_tag(c.user.avatar.url(:thumb)) %>
                      <% end %>

                       <div class="comment-text">
                        <!-- owner -->
                        <div class="pull-left properties">
                         <%= c.user.name %>
                        </div>

                         <!-- owner -->
                         <div class="pull-right properties">
                          <%= time_ago_in_words(c.updated_at) %>
                          <% if c.user == current_user %>
                              <%= link_to comment_path(c.id), method: :delete, data: {confirm: t('messages.confirm')} do %>
                                  <i class="fa fa-close"></i>
                               <% end %>

                              <%= link_to edit_comment_path(c.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal'} do %>
                                  <i class="fa fa-pencil"></i>
                               <% end %>

                          <% end %>
                         </div>

                         <div class="clearfix"></div>

                         <p><%= c.content %></p>
                       </div>

                     </div>
                     <div class="clearfix"></div>
                   </div>
                   <% end %>

                   <% unless p.comments.blank? %>
                      <%= render partial: "shared/comment", locals: {p: p} %>
                   <% end %>

                 </div>
               </div>
               <br/>
               <% end %>
              <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <%= render partial: "shared/following" %>
      </div>
    </div>
  </div>
  </section>
<% else %>
  <section>

  </section>
<% end %>
<div class=well>
<%unless user_signed_in?%>
<p>This is a social netwoking site<br>In this you can follow ur frds<br>you can post, like, comment </p>
<%end%>
</div>
<div id="edit-modal" class="modal fade" role="dialog"></div>
