<!-- Modal -->
<br>
<%= form_for @post do |f| %>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Editing post</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
              <%= f.label :content %>
              <%= f.text_area :content, class:"form-control", rows: 3 %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Update", class: "btn btn-primary" %>
          <br>
        </div>
      </div>
    </div>
<% end %>
