/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require jquery-ui
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

body{
  font-family: 'Roboto', sans-serif;
  margin:0px;
}

header{

  min-height: 100px;
  padding-top: 25px;
}

header form{
  float:right;
}
header .logo{
  float:left;
}

.bubble{
  position: relative;
  width: 580px;
  min-height: 65px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.bubble:after{
  content:'';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -15px;
  left:-15px;
  top: 50%;
}

.bubble:before{
  content:'';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;

  display: block;
  width: 0;
  z-index: 0;
  margin-top: -15px;
  left:-16px;
  top: 50%;
}

.post-actions{
  margin:5px;
}

.comment-form .form-group{
  width: 90%;
}

.comment{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  margin: 5px 0;
  overflow: auto;
  width:100%;
}

.comment-form input[type="text"]{
  width: 100%;
}

.comment-avatar img{
  width: 40px;
  margin-right: 5px;
}

.friends li{
  list-style: none;
  padding:0 5px;
  display:inline;
  float:left;
}

.friends img{
  width: 55px;
}

.groups img{
  width:80px;
  float:left;
  margin-right: 15px;
}

.group-item{
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  overflow: auto;
}

.profile ul{
  margin-top: 30px;
}

.profile li{
  list-style: none;
  line-height: 1.9em;
}

.photos{
  margin: 0;
  padding: 0;
}

.photos li{
  list-style: none;
  float: left;
  margin:5px;
  width: 23%;
}

.photos img{
  width:100%;
}

footer{

  height: 120px;
  font-weight: bold;
  text-align: center;
  padding-top: 60px;
  border-top: 7px solid #04519b;
}

.members .member-row{
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.members img{
  margin-bottom: 5px;
}

@media(min-width: 991px){
  .members p{
  padding-top: 40px;
  }
}

.logout {
}

.logout:hover{
  text-decoration: none;
}

.back{
}

.back:hover{

  text-decoration: none;
}

.navbar-nav{
  margin-left:-15px;
}


.postedat{
  font-size:12;
}

.properties{
  font-size:10;
}
